bin
phycas
xcode/phycas.xcodeproj/xcuserdata/
tests/codontest/params.p
tests/codontest/trees.t
tests/diffs.txt
tests/exploreprior/nodata.nex.p
tests/exploreprior/nodata.nex.t
tests/fixedparams/fixed.p
tests/fixedparams/fixed.t
tests/gtrtest/gtr_test.p
tests/gtrtest/gtr_test.t
tests/likelihoodtest/check.nex
tests/mtss/ss-multiss.p
tests/mtss/ss-multiss.t
tests/mtss/ss-multiss.txt
tests/mtss/ss-multisump.txt
tests/pdftree/test.pdf
tests/polytomies/mcmcoutput.txt
tests/polytomies/params.p
tests/polytomies/simHKY.nex
tests/polytomies/sump-log.txt
tests/polytomies/sumt-log.txt
tests/polytomies/sumt-splits.pdf
tests/polytomies/sumt-trees.pdf
tests/polytomies/sumt-trees.tre
tests/polytomies/trees.t
tests/randgen/first100.txt
tests/rzyprior/rzy-explore-prior.p
tests/rzyprior/rzy-explore-prior.t
tests/rzyprior/rzy-explore-prior.txt
tests/rzyss/rzy-ss-refdist.txt
tests/rzyss/rzy-ss-sump.txt
tests/rzyss/rzy-ss.p
tests/rzyss/rzy-ss.t
tests/rzyss/rzy-ss.txt
tests/splittest/out.txt
tests/fixedparams/output.txt
tests/gtrtest/output.txt
output.txt
phycas.xccheckout
build.sh
manual.pdf
phycas-2.0.0-mac.zip
doc/phycas-manual-2.0.0.pdf
phycas-2.0.0-mac.tar.gz
